<%- include("partials/header"); -%>

<h1>Log In</h1>
<form action="/login" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">

</form>

<a href="/signup">Don't Have an Acoount ? Make a new account</a>


<%- include("partials/footer"); -%>